@page
@model BulkyRazor.Pages.Categories.EditModel

<form method="post">
    <input asp-for="Category.Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Edit Category</h2>
            <hr />
        </div>
        <div class="mb-3 row">
            <label asp-for="Category.Name" class="p-0 mb-2"></label>
            <input asp-for="Category.Name" type="text" class="form-control" />
            <span asp-validation-for="Category.Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Category.DisplayOrder" class="p-0 mb-2"></label>
            <input asp-for="Category.DisplayOrder" type="number" class="form-control" />
            <span asp-validation-for="Category.DisplayOrder" class="text-danger p-0"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-page="/Category/Index" class="text-primary p-0">Back to List</a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}